// 
// Declarations  
// ========================================================================== 

// 
// Defaults:
// 

$bare-bar-background:          		 #fff !default;
$bare-bar-color:               		 #ccc !default;
$bare-bar-border-width: 			  1px !default;
$bare-bar-border-style: 			solid !default;
$bare-bar-border-color: 			 #ccc !default;

// 
// Features:
// 

$bare-bar--xs:                   	true !default;
$bare-bar--s:                   	true !default;
$bare-bar--l:                   	true !default;
$bare-bar--xl:                   	true !default;

/* 
   #bar
   ========================================================================== */

/**
 * The bar object is used to create progress bars. 
 *
 * <div class="o-bar">
 *
 *     <div class="o-bar__value u-w-1-2"></div>
 *
 * </div>
 */

.o-bar {
    display: block;
    height: bareRem($bare-sp-m);
    background-color: $bare-bar-background;
    border: $bare-bar-border-width $bare-bar-border-style $bare-bar-border-color; 
}

	.o-bar__value {
		display: block;
		height: 100%;
		background-color: $bare-bar-color;
	}  


// 
// #bar--xs
// ========================================================================== 

@if ($bare-bar--xs == true) {

	.o-bar--xs {
		height: bareRem($bare-sp-xs);
	}

}


// 
// #bar--s
// ========================================================================== 

@if ($bare-bar--s == true) {

	.o-bar--xs {
		height: bareRem($bare-sp-s);
	}
	
}


// 
// #bar--l
// ========================================================================== 

@if ($bare-bar--l == true) {

	.o-bar--xs {
		height: bareRem($bare-sp-l);
	}
	
}


// 
// #bar--xl
// ========================================================================== 

@if ($bare-bar--xl == true) {

	.o-bar--xs {
		height: bareRem($bare-sp-xl);
	}
	
}
